# fly.toml app configuration file generated for rtmp-server-ksyhuw on 2025-11-19T04:20:52Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'rtmp-server-ksyhuw'
primary_region = 'iad'

[build]

[[services]]
protocol = "tcp"
internal_port = 8000
auto_start_machines = true
processes = ["app"]

  [[services.ports]]
  port = 80
  handlers = ["http"]

[[services]]
protocol = "tcp"
internal_port = 1935
processes = ["app"]

  [[services.ports]]
  port = 1935
